---
dataDir: "{{ HOME }}/logantests/Test_numbers2/data"
logPath: "../../testdata/loganal/sample_numbers.log"
logFormat: '^(?P<timestamp>\d+-\d+-\d+T\d+:\d+:\d+)] (?P<message>.+)$'
timestampLayout: "2006-01-02T15:04:05"
maxBlocks: 100
blockSize: 100
keepPeriod: 100
termCountBorder: 10
minMatchRate: 0.6
unitSecs: 86400
useUtcTime: true
#ignoreNumbers: false

